{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <h1>
        Hello, world!
    </h1>
    <p><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur earum esse magnam ipsam natus, nemo, vitae quaerat veniam fuga atque porro commodi officiis? Asperiores perferendis sequi nulla corrupti pariatur cum.
    <p>
</div>

{% endblock %}