<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block head %}
        <title>Home | Ingrid Almeida</title>
    {% endblock %}

    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="/styles.css">
    
</head>

<body>
<header>   
    <div class="container">
       <div class="logo">
                <a href="/">
                    <img alt="Ingrid Almeida" src="logotipo.png">
                </a>  
        </div> 
    <div class="menuSection" >
        <div class="menuToggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <nav>            
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/classes">MUSIC</a></li> 
                <li><a href="/about">ABOUT ME</a></li>
            </ul>
        </nav>  
        </div>  
    </div>    
</header>

    {% block content %}

    {% endblock %}

<footer>
    <div class="socialNetworks">
        <a href="https://github.com/ingridsj" target="_blank"><img src="github.png" alt="Githhub"></a>
        <a href="https://www.linkedin.com/in/ingridsjalmeida/" target="_blank"><img src="linkedin.png" alt="Linkedin"></a>
        <a href="https://www.instagram.com/_ingridsj/" target="_blank"><img src="instagram.png" alt="Instagram"></a>
    </div>
</footer>
    <script src="script.js"></script>
    <script src="scriptmenu.js"></script>
</body>
</html>