@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --background: rgba(0, 0, 0, 0.200);
}
html {
    font-size: 65%;
}
body {
    margin: 0;
    background:rgb(30, 30, 30);
    font-family: 'Open Sans', sans-serif;
}
/*=== NAVIGATION BAR*/
header {
    background: var(--background);
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
}
/*=== LOGO === */
.logo img{  
    margin-left: 20px;
    height: 120px;  
    padding: 15px 0;
}
/*=== NAVIGATION LINKS ===*/
nav ul{
    display: flex;
}
nav li {
    list-style: none;
}
nav a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;  
    padding: 2rem;
}
nav a:hover {
    color: rgb(212, 24, 63);
    transition: 500ms;
}
/* === CARDS === */
.sectionCards {
    max-width: 800px;
    margin: 0 auto; 
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.card {
    background-color:rgb(119, 117, 117);
    border-radius: 5px;
    display: grid;
}
.cardImageContainer img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.cardDate,
.cardContent,
.cardInfo {
    margin: 20px;
    font-size: 1.5rem;
}
.cardInfo {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
/* === MODAL === */
.modalOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal {
    background-color: black;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}
.closeModal {
    color: white;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}
/* === MODAL ACTIVE === */
.modalOverlay.active {
    opacity: 1;
    visibility: visible;
}
/* === FEATURED === */
.featuredWrapper.cardImageContainer {
    position: relative;
}
.featured {
    position: absolute;
    right: 5px;
    top: 130px;
    color: #111;
    background:#F78D00;
    padding: 2px 8px;
    border-radius: 10px;
}
/* === IFRAME === */
iframe {
    width: 100.05%;
    height: 90%;
    position: absolute;
    top: 5%;
}
/* === TEXT === */
.wrapper {
    text-align: center;
    padding: 32px;
}
.wrapper h1 {
    color: rgb(215, 0, 241);
    font-size: 5rem;
    line-height: 5rem;
}
.wrapper p {
    color: white;
    text-align: justify;
    font-size: 2rem;
    max-width: 500px; /*Limita o tamanho da minha caixa de txt */
    margin: 0 auto; /*0= altura e laterais automáticas */
}
/* === FOOTER === */
.socialNetworks {
    text-align: center;
}
.socialNetworks img{
    padding: 5px;
    height: 30px;
    border-radius: 50%;
}
footer {
    background: var(--background);
    position: fixed;
    bottom:0;    
    width:100%;
    margin: auto auto;
    padding: 1px 0px 1px 0px;
}
/* === MEDIA QUERIES === */
@media (max-width: 768px){
    html {
        font-size: 50%;
    }
}
@media (max-width: 630px) {
    nav {
        display: none;
    }
    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
    }
    .menuToggle {
        width: 40px;
        height: 30px;
    }
    /* === FULLSCREEN OF MENU TOGGLE === */
    .menuSection.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(119, 117, 117);
        z-index: 10;

    }
    nav {
        display: block;
    }
    .menuToggle {
        position: absolute;
        right: 5%;
        top: 15px;
    }
    .menuToggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
}